@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

img {
  border-radius: 15px;
}

.first-section {
  background-color: #1f2937;
  padding: 20px 200px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  min-width: 400px;
  max-width: 400px;
}

#header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-link {
  font-size: 18px;
  color: #E5E7EB;
  padding-bottom: 10px;
}

.signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.leftbox,.rightbox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  min-width: 400px;
  max-width: 400px;
}

ul {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

h2 {
  font-size: 38px;
  font-weight: bolder;
  color: #1f2937;
  padding: 40px 0px 0px;
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.row-of-blue-divs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Vertically center the blue boxes */
  margin: 50px auto; /* Ensure it takes full width */
  gap: 0px; /* Add spacing between blue boxes */ /* Ensure it takes full width */
}

.links {
  display: flex;
  width: 50%;
  justify-content: right;
  align-items: center;
    min-width: 400px;
  max-width: 400px;
}

.signup1 {
  background-color: #3882f6; /* A common shade of blue */
  color: white; /* Text color */
  padding: 12px 24px; /* Adjust padding for desired size */
  border: none; /* Remove default button border */
  border-radius: 10px; /* Adjust for desired roundness (e.g., 50% for perfectly round if height/width are equal) */
  font-size: 16px; /* Adjust font size */
  font-weight: bold;
  cursor: pointer; /* Indicate it's clickable */
  text-decoration: none; /* Remove underline if using an anchor tag */
  display: inline-block; /* Allows padding and other box model properties to work correctly */
  text-align: center;
  width: 150px;
  height: 40px;
}

.rightbox {
  align-items: flex-end;
  justify-content: flex-end;
}

.box-blue {
  border: 2px solid #3882f6;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.blue-box-msg {
  display: flex;
  justify-self: center;
  align-items: center;
  font: ;
}