@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

img {
  border-radius: 15px;
}

.first-section {
  background-color: #1f2937;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section > * {
  max-width: 1200px;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: flex-start;
  min-width: 400px;
  max-width: 400px;
}

#header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-link {
  font-size: 18px;
  color: #E5E7EB;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.leftbox,.rightbox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  min-width: 500px;
  max-width: 500px;
}

ul {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

h2 {
  font-size: 38px;
  font-weight: bolder;
  color: #1f2937;
  padding: 40px 0px 0px;
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third-section {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 40px;
}

.quote {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  margin: 50px 0px 50px 0px;
}

.quote-text {
  text-align: left;
  margin-bottom: 20px;
}

.author {
  width: 600px;
  max-width: 600px;
}

.author-text {
  text-align: right;
  font-weight: bold;
  font-size: 24px;
}

.row-of-blue-divs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Vertically center the blue boxes */
  margin: 50px auto; /* Ensure it takes full width */
  gap: 150px;
  padding: 0 20px; /* Add spacing between blue boxes */ /* Ensure it takes full width */
  flex-wrap: wrap;
}

.links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  min-width: 400px;
  max-width: 400px;
  gap: 20px;
  text-align: center;
}

.signup1 {
  background-color: #3882f6; /* A common shade of blue */
  color: white; /* Text color */
  padding: 12px 24px; /* Adjust padding for desired size */
  border: none; /* Remove default button border */
  border-radius: 10px; /* Adjust for desired roundness (e.g., 50% for perfectly round if height/width are equal) */
  font-size: 16px; /* Adjust font size */
  font-weight: bold;
  cursor: pointer; /* Indicate it's clickable */
  text-decoration: none; /* Remove underline if using an anchor tag */
  display: inline-block; /* Allows padding and other box model properties to work correctly */
  text-align: center;
  width: 150px;
  height: 40px;
}

.rightbox {
  align-items: flex-end;
  justify-content: flex-end;
}

.box-blue {
  border: 5px solid #3882f6;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.p-second {
  display: flex;
  justify-content: center;
  text-align: center;
}

.box-blue-msg {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  max-width: 175px;
}

.logo,.links {
  width: 50%;
}

.fourth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
}

.blue-container {
  display: flex;
  flex-direction: row;
  background-color: #3882f6;
  border-radius: 10px;
  max-width: 1400px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.signup2 {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 50px 100px 50px 10px;
}

.text-container {
  padding: 50px 10px 50px 100px;
}

h3 {
  font-size: 24px;
  color: #f9faf8;
}

.fourth-text {
  color: #E5E7EB;
  font-size: 18px;
}

.footer {
  background-color: #1f2937;
  padding: 40px 0px;
}

.footer-text {
  text-align: center;
  color: #E5E7EB;
  font-size: 18px;
}